

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f7;
    color: #333;
}
header {
    background-color: #e89aaa;
    text-align: center;
    padding: 25px;
}
header h1 {
    margin: 0;
    color: white;
    font-size: 35px;
}
header p {
    color: white;
    font-size: 18px;
}

nav {
    background-color: #8e4a5c;
    text-align: center;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #ffdce3;
}
.bienvenida {
    text-align: center;
    padding: 35px;
}

.bienvenida h2 {
    color: #8e4a5c;
    font-size: 28px;
}
.titulo {
    text-align: center;
    color: #8e4a5c;
    font-size: 28px;
}
.catalogo {
    width: 90%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 25px;
}
.producto {
    background-color: white;

    width: 280px;

    padding: 15px;

    text-align: center;

    border-radius: 10px;

    box-shadow: 0 3px 10px #ccc;
}
.producto img {
    width: 100%;
    height: 200px;

    object-fit: cover;

    border-radius: 8px;
    transition: transform 0.3s;
}
.producto img:hover {
    transform: scale(1.1);
}
.producto h3 {
    color: #8e4a5c;
    font-size: 21px;
}
.producto p {
    font-size: 15px;
}
.precio {
    color: #d35470;

    font-size: 20px !important;

    font-weight: bold;
}

button {
    background-color: #e89aaa;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 5px;

    cursor: pointer;
}
button:hover {
    background-color: #8e4a5c;
}
.nosotros {
    background-color: #ffe1e7;

    text-align: center;

    padding: 35px;

    margin-top: 40px;
}

.nosotros h2 {
    color: #8e4a5c;
}
.contacto {
    text-align: center;

    padding: 30px;
}

.contacto h2 {
    color: #8e4a5c;
}
footer {
    background-color: #8e4a5c;

    color: white;

    text-align: center;

    padding: 15px;
}